nav {
    position: relative;
    overflow: hidden;
    top: 0; left:0; right:0; bottom:0
}
.input-field{
    width: 50%;
   
    padding-left: 20px;
}
.input-field input{
    border-radius: 20px;
}


.aside {
    position: relative;
    color: white;
    overflow: hidden;
    height: 100vh;
    width: 20%;
}
.main {
    position: relative;
    width: 80%;
    height: 100vh;
    overflow: auto;
    padding-bottom: 50px;
}
.logos{
    list-style-type: none;
}
.logos li{
    display: inline;
    margin: 1.5px;
}
.card-image {
    background-size: cover;
    height: 250px;
}
.card {
    border-radius: 10px 10px 0 0;
}
.card .card-image {
    border-radius: 10px 10px 0 0;
}
.movie-quick-info{
    list-style-type: none;
}

.card .card-content {
    padding: 0 0 0 10px;
    font-size: 12px;
}
.movie-title{
    width: 250px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #757575 ; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #616161; 
  }

@media only screen and (max-width: 922px) {
.card-image {
    height: 150px;
}
.card-content{
    font-size: 8px;
}
.movie-title{
    width: 200px;
}
}
@media only screen and (max-width: 600px) {
.card-image {
    height: 150px;
}
.aside{
    display: none;
}
.card-content{
    font-size: 10px;
}
.movie-title{
    width: 180px;
}
}

